@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon-creator.eot');
	src:url('assets/fonts/icomoon-creator.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/icomoon-creator.woff') format('woff'),
		url('assets/fonts/icomoon-creator.ttf') format('truetype'),
		url('assets/fonts/icomoon-creator.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-alert, .icon-plus, .icon-close, .icon-rotate, .icon-image, .icon-rdio-u, .icon-rdio-c {
	font-family    : 'icomoon';
	speak          : none;
	font-style     : normal;
	font-weight    : normal;
	font-variant   : normal;
	text-transform : none;
	line-height    : 1;
	-webkit-font-smoothing : antialiased;
}
.icon-alert:before  {content: "\e006";}
.icon-plus:before   {content: "\e007";}
.icon-close:before  {content: "\e008";}
.icon-rotate:before {content: "\e001";}
.icon-image:before  {content: "\e000";}
.icon-rdio-u:before {content: "\e002";}
.icon-rdio-c:before {content: "\e003";}

input:focus,
select:focus,
textarea:focus,
button:focus { outline : none;}
textarea { resize : none; }
html, body {
	cursor           : default;
	background-color : #584B4B;
	color            : #fff;
	font-family      : "Lato", "Arial", sans-serif;
	margin           : 0;
	padding          : 0;
	-webkit-user-select : none;
	   -moz-user-select : none;
	    -ms-user-select : none;
	        user-select : none;
}

ul { list-style-type : none; }

button {
	position         : absolute;
	background-color : rgba(0,0,0,0.4);
	border-radius    : 4px;
	color            : #ddd;
	font-size        : 13px;
	height           : 33px;
	margin           : 5px;
	padding          : 8px;
	width            : 120px;
	border           : none;
	&:hover .descript { opacity: 1; }
	.descript {
		position   : absolute;
		font-size  : 13px;
		width      : 90px;
		opacity    : 0;
		padding    : 5px;
		margin     : -5px;
		transition : all 200ms;
	}
}

header {
	margin  : 0 0 5px;
	padding : 10px;
	input {
		background : inherit;
		color      : #FFF;
		border     : none;
		margin     : 20px;
		text-align : center;
		font-size  : 30px;
		width      : 99%;
		::-webkit-input-placeholder { color : rgba(255,255,255,0.6); } /* WebKit browsers */
		          :-moz-placeholder { color : rgba(255,255,255,0.6); } /* Mozilla Firefox 4 to 18 */
		         ::-moz-placeholder { color : rgba(255,255,255,0.6); } /* Mozilla Firefox 19+ */
		     :-ms-input-placeholder { color : rgba(255,255,255,0.6); } /* Internet Explorer 10+ */
	}
}

body {
	position   : absolute;
	top        : 0;
	left       : 0;
	height     : 100%;
	width      : 100%;
	overflow-x : hidden;
	-webkit-backface-visibility : hidden;
	ul {
		position : relative;
		width    : 825px;
		margin   : auto;
		padding  : 0;
		perspective : 800px;
		perspective-origin : 50% 100%;
		li {
			margin : 0 0 30px 0;
			height : 200px;
	  		transform-style : preserve-3d;
			&.titles {
				height : 60px;
				margin : 0;
				h3 {
					display    : inline-block;
					position   : absolute;
					text-align : center;
					width      : 50%;
					&:nth-child(2) { left : 50%; }
				}
			}
			&.card {
				&.ng-enter, 
				&.ng-leave { 
					transition : 1025ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
				} 

				&.ng-leave.ng-leave-active,
				&.ng-enter {
					transform : rotateX(-180deg) translatez(30px);
					opacity   : 0;
					height    : 0;
					margin    : 0 0;
				}

				&.ng-enter.ng-enter-active,
				&.ng-leave {
					transform : rotateX(0deg) translatez(0);
					opacity : 1;
					height  : 200px;
					margin  : 0 0 30px 0;
				}
				.num {
					position    : absolute;
					padding     : 20px;
					margin-left : -65px;
					line-height : 20px;
					font-size   : 26px;
				}
				.face {
					position   : absolute;
					width      : 400px;
					height     : inherit;
					background : #FFF;
					overflow-y : auto;
					overflow-x : hidden;
					&:nth-child(2) { right : 0; }
					textarea, input {
						border     : none;
						font-size  : 14px;
						width      : 90%;
						margin     : 15px 0 0 0;
						text-align : center;
						&.title {
							height : 25px;
						}
					}
					textarea { height : 130px; }
					input { height : 25px; }
					img {
						max-width  : 400px;
						max-height : 110px;
					}
					button {
						bottom     : 6px;
						right      : 10px;
						background : none;
						color      : rgba(0,0,0,0.7);
						font-size  : 22px;
						width      : 30px;
						transition : all 200ms;
						&:hover { 
							color : #47303C; 
							.descript { color : #47303C; }
						}
						.descript {
							top : 10px; 
							&.add { left : -85px; }
							&.del { left : -95px; }
						}
					}
					.alert {
						position  : absolute;
						color     : rgba(0,0,0,0.7);
						font-size : 13px;
						bottom    : 17px;
						left      : 17px;
						opacity   : 1;
						transition : all 200ms;
						&.hide { opacity : 0; }
						span {
							padding   : 0 2px 0 0;
							font-size : 15px;
							color     : #7F2626;
						}
					}
				}
				button.delete {
					right      : -58px;
					width      : 35px;
					margin-top : 13px;
					.descript {
						top   : 7px;
						left  : 40px;
						color : rgba(255,255,255,0.6);
					}
				}
			}
			button.add {
				left : 50%;
				margin : 0 0 0 -68px;
			}
		}
	}
}

